/*
Amber Paulen master stylesheet by Simon Griffee - hypertexthero.com
Last update: 2021-10-26

*/


body, html {height:100%;}
body {text-align:center; color:#000; font-family:"Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif; font-size:100%; margin:0 auto 12em; max-width:40em; text-align:left; padding:2em 1em; padding-bottom:300px !important;
background-color: #fafafa;
background-image: url("../img/redox-02.png");
/*background:#fafafa url(../img/header-bg.jpg) repeat-x 0 0; background-position:0 -180px;*/
}

nav {margin:0 0 20px; text-transform:uppercase; letter-spacing:0.1em; font-size:15px;}
nav a {margin:5px;}
body#about a#nav-about, 
body#writing a#nav-writing,
body#contact a#nav-contact
{border:0; color:#000;}

p.skip {display:none;}
/* =Links, =Images ------------------------------------------------ */
a {text-decoration:none; border-bottom:1px solid #D4DFCA;} /* Prevent visible outline on clicked anchors in Firefox */
a:link {color:#107f01; padding-bottom:0;}
a:visited {color:#0f7ffe; padding-bottom:0;}
a:hover {color:#0f7ffe; background:#ffc; text-decoration:none;}
a:active {color:#900; outline:none;}
img {text-decoration:none; display:block; margin:0 0 20px;}
a:link img, a:visited img {border:0; border-style:none; text-decoration:none; border-bottom:none;}
a.imglink:link, a.imglink:visited {border: none;}
.homelink {border:0; color:#000; padding:1em;}
/* Trying to stop IE form putting a border under linked images. Unsuccessful so far. Update: Had to assign a class to links: http://www.webmasterworld.com/forum83/2276.htm */
h1 a:link, h1 a:visited {text-decoration:none;}

/* =Layout ------------------------------------------------ */

h1 {margin:0 0 0.5em; font-weight:bold; color:#000; font-size:30px; line-height:38px;}
body#writing h1 {font-weight:normal;}
h1.maintitlewithextended {margin-bottom:0;}
div#content h1 a:link, div#content h1 a:visited {color:#000; text-decoration:none !important;}
div#content h1 a:hover, div#content h1 a:active {color:#606; margin-top:0 !important;}
h2 {font-size:26px; line-height:26px; margin:1em 0 0.5em; font-weight:bold; color:#000;}
body#writing h2 {font-weight:normal;}
body.cv h2 {border-bottom:double #eee; padding-bottom:0.15em;}
h2.bookextendedtitle {margin-top:0; font-size:19px; margin-bottom:2.4em;}
body#search h2 {margin-top:0;}
h2#comments {margin-top:3em;}
h3 {font-size:19px; line-height:24px; font-weight:bold; margin:1em 0 0.5em; color:#000;}
h3#commentator {margin-bottom:0 !important;}
h4 {font-size:1em; font-weight:normal; font-style:italic; margin:1.7em 0 0.5em;}
h5 {font-size:0.85em; text-transform:uppercase; margin:1.7em 0 0.5em;}
h6 {font-size:0.8em; text-transform:uppercase; font-style:italic; margin:1.7em 0 0.5em;}
/****************************************************************************
=Paragraphs, =Misc
****************************************************************************/
p, address {font-size:19px; line-height:30px; margin:0 0 0.8em; font-style:normal;}
body#archives #content p {margin-bottom:0.25em;}
body#archives #content p em {font-size:0.8em; letter-spacing:normal; font-style:italic;}
li {font-size:19px; line-height:30px;}

ul.paging {list-style:none;}
ul.paging li {font-size:11px !important; margin-bottom:1.4em; text-transform:uppercase; letter-spacing:0.1em;}
ul.paging li em {text-transform:capitalize !important;}

body#search p.date {text-align:left;}
p.feeds {padding-top:3em;}
p.end {font-size:11px; margin:2em 0; letter-spacing:0.2em;}
body#article p.end {margin-bottom:2em !important;}
p.caption {font-size:1em; margin:-1.2em 0 1.6em !important; font-style:italic; max-width:500px;}
p.caption a {text-decoration:none; border-bottom:1px dotted #9C6;}
p.entry-summary {margin-bottom:3em;}
body#blog p.end {margin-bottom:3em;}
p.smallprint, p.footnote {font-size:0.8em; color:#333;}
sup.footnote {line-height:0; font-weight:bold;}
p.footnote sup {font-weight:bold;}
span.caps, strong.caps {font-size:0.95em;}
/*span.dc {font-size:48px; line-height:48px; float:left; padding-right:0.1em;}*/
span.dc {font-size:48px; line-height:0;}
.current {font-style:italic; border-left:8px solid #ddd; padding-left:5px;}
li.current a {color:#000 !important;}
.clear {clear:both;}
.floatleft {float:left; margin:1em 2.5em 1.5em 0;}
.floatright {float:right; margin:1em 0 1.5em 2.5em;}

hr {height:1px; background:#000; margin:12px auto 12px; border:none 0; border-top:1px solid #000; display:block;}
* html body hr {height:0; background:none; margin-top:-10px;}
blockquote {margin:1em 0 1.4em 0; padding-left:2em; background:url(../images/blockquote-bg.gif) no-repeat top left;}
blockquote p {color:#330;}
pre {font-family:monospace; font-size:1em; line-height:1.5em; background:#eee; padding:10px;}
em, i, cite {font-style:italic;}
strong, b {font-weight:bold;}
/*del {font-style:line-through;}*/
ins {background:#ffc; text-decoration:none; border-bottom:1px dashed;}
kbd {background:#ff9;}
acronym, cite, abbr {border-bottom:1px dashed #999;}

.small, .smallpermlink {font-size:0.85em !important; text-decoration:none;}
.smallpermlink {margin:0 0 6em;}
.info {font-size:0.6px;}
.quiet {color:#999;}
.center {text-align:center;}
.normal {font-weight:normal;}

body#archives #content p {margin-top:0; margin-bottom:0.25em;}
body#archives #content p em {font-size:0.75em !important; line-height:1em;}
body#archives #content p em.bookauthorarchives {text-transform:uppercase !important; font-size:0.70em !important;}

/****************************************************************************
=Lists
****************************************************************************/
ul {list-style:disc outside; padding-left:1em; margin:1em 0 0.8em;}
ul.left {float:left;}
ul.right {float:right;}
ul.worklist {list-style:none; padding-left:0; margin-left:0; margin-top:0.8em;}
ul.unstyled {list-style:none; padding-left:0; margin-left:0;}
dl {font-size:1em; line-height:1.4em;}
div#content li, div#content dd {font-size:19px; line-height:30px;}
/*ul ul, ol ol {margin-left: 1.5em;
}*/
ul, dl, ol {margin:1em 0 1em 0.20em;
}
ol {font-size:inherit; list-style:decimal inside;}

/****************************************************************************
=Forms
****************************************************************************/
textarea {width:90%;}
input, textarea {padding:4px; background:#fff; margin:0 0 1em; border:1px solid #ccc;}
textarea {min-height:15em; margin-bottom:1em;}
label, form#search input {font-size:14px; line-height:19px;}
form#search input {padding:4px;}
label span {font-size:12px;}
div.button input {width:auto; padding:10px;}
input.button, input.zemSubmit {text-transform:capitalize; font-size:0.8em; line-height:1.2em; padding:0.75em; background:#c30; color:#fff; border-width:1px;}
input.button:hover, input.zemSubmit:hover {cursor:pointer !important;}
input.button.disabled {cursor:auto !important;}
input.searchbutton {text-transform:capitalize; margin:2px 0;}
input.searchinput {margin-bottom:2px;}
/*span.checkbox label {font-size:1em;}*/
input.checkbox {margin:1em 0 0; background:#eee;}
input#txpCommentSubmit, input#txpCommentPreview {padding:5px 15px; background:#9c3; margin:0.5em 0;}
input#txpCommentSubmit {font-weight:bold; font-style:italic;}
input#txpCommentSubmit.disabled {padding:5px 15px; background:#ccc; color:white;}
fieldset {padding:1em; border:1px solid #ddd;}
div.comment.even.author {background:#fcc !important;}
div.comment.odd.author {background:#fcc !important;}

/****************************************************************************
=Comments
****************************************************************************/
div.commentform {margin:1.5em 0; padding:0;}
div.comment {padding:1.5em; margin:1.5em auto;}
div#commentpreviewnote p {color:#606;}
div#commentpreviewnote em strong {background:#9c3; padding:5px; font-weight:normal; font-size:0.8em; line-height:0;}
div#cpreview {border:dashed 1px #606;margin:1em 0; padding:1em 1.5em 1.5em;}
ul.comments_error {color:#900;}
ul.zemError {list-style:none;}
div.zemThanks p {color:#C30 !important;}
div#cpreview h3 {margin-left:1em;}
form#txpCommentInputForm {margin:1em 0; padding:0 0 1em;}
#cpreview div.comment {padding:0.2em 1em;}
/* 'even' and 'odd' are default classes assigned by the <txp:ajw_comment_alt /> tag of the ajw_comment_alt plugin to alternate the background of comments. */
div.odd {background:#eee;} 
div.even {background:transparent;}
/*div.comment.even span.comment-no a {color:#333 !important;}*/
/*div.comment span.comment-no a:hover, div.comment span.comment-no a:active {color:#333 !important;}*/
p.comment_meta {color:#333;}
div.comment p.comment_meta span.comment-no a {font-size:2em; float:left; padding:0 0.25em 0 0; border:none;}

/****************************************************************************
=Tables
****************************************************************************/
table {width:auto; padding:0; margin:0;} 
table caption {padding:0 0 5px 0; width:auto;   font-style:italic; text-align:right;} 
table th {font:bold 11px georgia, serif; color:#000; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #ccc; letter-spacing:2px; text-transform:uppercase; text-align:left; padding:6px 6px 6px 12px; background:#eee; /*url(images/bg_tableHeader.jpg) no-repeat*/} 
table th.nobg {border-top:0; border-left:0; border-right:1px solid #ccc; background:none;} table td {border-right:1px solid #ccc; border-bottom:1px solid #ccc; background:#fff; padding:6px 6px 6px 12px;} 
table td.alt {background:#F5FAFA;} 
table th.vert {border-left:1px solid #ccc; border-top:0; background:#fff; font:bold 10px georgia, serif;} table th.vertalt {border-left:1px solid #ccc; border-top:0; background:#f5fafa; font:bold 10px georgia, serif;}  
/* =Lightbox --------------------------------------------- 
Boss thanks: http://www.huddletogether.com/projects/lightbox/ */
#lightbox {background-color:#eee; padding: 10px;}
#lightboxDetails {font-size: 0.8em; padding-top: 0.4em;} 
#lightboxCaption {float:left; font-size:1.3em;}
#keyboardMsg {float:right; font-size:1.1em;}
#lightbox img {border:none;} 
#overlay img {border:none; position:absolute; z-index:500;}
#overlay {background-image:url(../images/overlay.png);}
* html #overlay {background:transparent url(../images/overlay_ie.gif) repeat 0 0;}

/* no twitter avatar */
img.avatar, img.twtr-profile-img, img.u-photo {display:none !important;}

@media (max-width: 800px) {

   img {width: 100%; height: auto;}

    }
